<div class="container">
        <mat-card class="mt-5">
            <mat-card-header>
                <div mat-card-avatar class="example-header-image"></div>
                <mat-card-title>
                    <h4 style="color: coral;">
                        Regularización
                    </h4>
                </mat-card-title>
                <mat-card-subtitle>Dog Breed</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
                <p class="text-justify">
                        La palabra "regularizar" proviene de la palabra latina "regula" (regla),  que se aplica para este Instituto mediante el procedimiento administrativo de Inmatriculación y la inscripción de Títulos de Propiedad expedidos por el Registro Agrario Nacional, promoviendo así la regularización de los bienes inmuebles para su incorporación al sistema registral.

                        Mediante el procedimiento administrativo de Inmatriculación se incorpora a la vida registral y al tráfico inmobiliario un inmueble que carece de antecedentes registrales, mediante la emisión de un documento (resolución), el cual se inscribe a nombre del titular.
                        
                        Con la regularización de tu bien inmueble, el Instituto otorga publicidad de la posesión (Inmatriculación Administrativa) o propiedad (Títulos expedidos por el Registro Agrario Nacional) del inmueble para que surta efecto contra terceros, otorgando certeza y seguridad jurídica al patrimonio de las y los mexiquenses.
                        
                        ¡Acércate al IFREM!
                </p>
            </mat-card-content>
            <div class="mt-5 mx-5">
            <img mat-card-image
                src="http://ifrem.edomex.gob.mx/sites/ifrem.edomex.gob.mx/files/images/regularizacion%20de%20propiedad/inmatriculacio%CC%81n.jpg"
                alt="IFREM">
            </div>
            <mat-card-actions>
            </mat-card-actions>
        </mat-card>
    </div>