<div class="container">
    <mat-card class="mt-5">
        <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>
                <h4 style="color: coral;">
                    Acerca del IFREM
                </h4>
            </mat-card-title>
            <mat-card-subtitle>Dog Breed</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <p class="text-justify">
                Es un Organismo Público Descentralizado, con personalidad jurídica y patrimonio propio, sectorizado a la
                Secretaría
                de Justicia y Derechos Humanos, que tiene por objeto realizar la función registral en la entidad en
                términos de
                la
                Ley Registral, su Reglamento, el Código Civil, todos del Estado de México y los demás ordenamientos
                legales
                aplicables.

                Tiene como propósito dar certeza, seguridad jurídica y publicidad a los actos relacionados con la
                propiedad
                inmobiliaria, que por disposición de ley deben inscribirse para producir efectos contra terceros.
            </p>
        </mat-card-content>
        <div class="mt-5 mx-5">
        <img mat-card-image
            src="http://ifrem.edomex.gob.mx/sites/ifrem.edomex.gob.mx/files/images/acerca%20de/mar-13.jpg"
            alt="IFREM">
        </div>
        <mat-card-actions>
        </mat-card-actions>
    </mat-card>
</div>