<app-toolbar></app-toolbar>
<div class="container-fluid bg-light text-center" style="color: #5A6523;">
  Secretaría de Justicia y Derechos Humanos
</div>
<mat-drawer-container class="example-container">
  <mat-drawer mode="side" opened>
    <mat-list role="list" class="list-group">
      <mat-list-item>
        <a routerLink="/home" class="list-group-item list-group-item-action">Inicio</a>
      </mat-list-item>
      <mat-list-item>
        <a routerLink="/about" class="list-group-item list-group-item-action">Acerca de</a>
      </mat-list-item>
      <mat-list-item>
        <a routerLink="/regularizacion" class="list-group-item list-group-item-action">Regularización</a>
      </mat-list-item>
    </mat-list>
  </mat-drawer>
  <mat-drawer-content>
    <router-outlet></router-outlet>
  </mat-drawer-content>
</mat-drawer-container>