<div class="container mt-5">
    <div class="row">
        <div class="col-3 text-center">
            <img src="http://ifrem.edomex.gob.mx/sites/ifrem.edomex.gob.mx/files/images/principales/2017/Boton-Estado.png"
                alt="">
            <h6 class="mt-3">Estado Actual de tu Trámite</h6>
            <p>Consulta Electronicamente</p>
        </div>
        <div class="col-3 text-center">
            <img src="http://ifrem.edomex.gob.mx/sites/ifrem.edomex.gob.mx/files/images/principales/2017/Boton-QR.png"
                alt="">
            <h6 class="mt-3">Codigo QR</h6>
            <p>Verifica la autenticidad de tu trámite</p>
        </div>
        <div class="col-3 text-center">
            <img src="http://ifrem.edomex.gob.mx/sites/ifrem.edomex.gob.mx/files/images/principales/2017/Boton-Facturacion-electronica.png"
                alt="">
            <h6 class="mt-3">Facturación Electronica</h6>
            <p>Obten tu factura por trámites y servicios</p>
        </div>
        <div class="col-3 text-center">
            <img src="http://ifrem.edomex.gob.mx/sites/ifrem.edomex.gob.mx/files/images/principales/2017/Boton-ubicacion.png"
                alt="">
            <h6 class="mt-3">Ubica la Oficina</h6>
            <p>Que corresponde a tu trámite</p>
        </div>
    </div>
</div>